*{
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
h2{
    text-transform: uppercase;
}
hr{
    margin-top: 7%;
    margin-bottom: 0;
    border-top: 10px dotted rgb(165, 165, 165);
    width: 5%;
}
/*-----section1 nav bar------*/
.nav{
    overflow: hidden;
    display: block;
    background-color: rgba(0, 0, 0, 0.575);
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
}
.icon a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: left;
    padding: 20px;
    text-decoration: none;
    font-size: 25px;
    margin: 0rem 1.2rem ;
    
}
.icon span{
    color: crimson;
}
.nav-right{
    margin-left: 50%;
    overflow: auto;
}
.nav-right a{
    float: left;
    display: block;
    color: #f2f2f2;

    padding: 20px;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    
}
.active{
    border-bottom: 2px solid;
    border-color: crimson;
}

.nav-right a:hover{
    border-bottom: 2px solid;
    border-color: crimson;
}
@media screen and (max-width:1400px){
    .nav-right{
        margin-left: 40%;
    }
}
@media screen and (max-width:1200px){
    .nav-right{
        margin-left: 35%;
    }
}
@media screen and (max-width:1100px){
    .nav-right{
        display: none;
    }
}
/*-------------first section content-----------*/
.first-section{
    background: linear-gradient(135deg, rgb(0, 22, 122) 0%, rgb(0, 0, 0) 100%);
    height: 100vh;
    color:white;
    width: 100%;
}
.f-content{
    text-align:center;
    color:white;
    padding: 20% 25%;
    font-size: 1.4rem;
    font-weight: normal;
}
.f-content p{
    animation: name 3s linear;
}
.f-content span{
    color: crimson;
    animation: name 2s linear;
}
@keyframes name{
    0%{margin-left: -200%;}
    90%{margin-left: -10%;}
    100%{margin-left: 0%;}
}

/*----------first section down arrow----------*/
.f-arrow{
    display: inline-flex;
    width: 75px;
    height: 75px;
    margin-top: 5rem ;
    text-decoration: none;
    border-radius: 100%;
    border: 2px solid whitesmoke;
    animation: arrow 0.5s linear infinite alternate;
}
.f-arrow:hover{
    transform: scale(0.8);
}
@keyframes arrow{
    0%{margin-top: 5rem;}
    100%{margin-top: 6rem;}
}
@media (max-width:900px){
    .f-content{
        text-align:center;
        color:white;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 0px;
        padding-top: 250px;
        font-size: 1.2rem;
        font-weight: normal;
    }
    .f-arrow{
        display: inline-flex;
        width: 75px;
        height: 75px;
        margin-top: 8rem ;
        text-decoration: none;
        border-radius: 100%;
        border: 2px solid whitesmoke;
        animation: arrow 0.5s linear infinite alternate;
    }
}
/*-------second section---------*/
.second{
    background: rgba(255, 244, 244, 0.486);
    margin: 2% 5%;
    height: 120vh;
    box-shadow: 15px 15px 7px grey;
    border: 1px solid rgba(179, 179, 179, 0.582);
    border-radius: 10px;
}
.about-me{
    padding: 5%;
    font-size: 2rem;
    margin: 0% 20%;
    text-decoration: underline;
    text-align: center;
}
.my-photo{
    float: left;
    width: 160px;
    height: 160px;
    margin-left: 11%;
    margin-top: 0;   
    border: 2px solid rgb(207, 207, 207);
    border-radius: 100%;
    background-color: rgba(128, 128, 128, 0.096);
}
.para-a{
    width: 52.5%;
    line-height: 2;
    text-align: justify;
    margin-left: 35%;
    font-size: 1.1rem;
}
.para-a::before{
    content: "";
    width: 2px;
    height: 30vh;
    background-color: black;
    float: left;
    margin-left: -10%;
}
.para-b{
    display: inline;
    float: left;
    text-align: left;
    width: 180px;
    margin: 13% 0% 0% -12%;
}
/*-------hire me button--------*/
.hire-me{
    float: left;
    border: 1px solid crimson;
    padding: 10px 20px 10px 20px;
    background-color: rgb(255, 0, 51);
    text-decoration: none;
    color: whitesmoke;
    font-family: sans-serif;
    border-radius: 10px;
    margin-top: 3%;
    margin-left: 20%;
    box-shadow: -5px 5px 2px rgba(220, 20, 60, 0.452);
}
.hire-me:hover{
    transform: scale(1.1);
    background: rgba(255, 0, 51, 0.644);
    border-radius: 5px;
}
/*------education table-------*/
.education{
    text-decoration: underline;
    margin: 12% 0% 5% 0%;
    text-align: center;
}
table{
    height: 250px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    padding: 8px;
}
th, td{
    border: 1px solid rgb(179, 165, 165);
 
}
td:hover{
    background-color: rgba(221, 221, 221, 0.5);
}
@media screen and (max-width:600px){
    .second{
        height: 130vh;
    }
    .education{
        margin: 20% 0% 5% 0%;
    }
    table{
        margin: auto;
        width: 90%;
        height: 350px;
        border-collapse: collapse;
        text-align: center;
        padding: 16px;
    }
}
@media screen and (max-width:900px){
    .para-a::before{
        display: none;
    }
    .para-a{
        display: flex;
        flex-direction: column;
        margin: 0% 3%;
        width: 92%;
        font-size: 1rem;
    }
    .my-photo{
        width: 120px;
        height: 120px;
        margin-left: 10%;
        margin-top: 0;   
        border: 1px solid crimson;
        border-radius: 100%;
    }
    .para-b{
        text-align: left;
        width: 180px;
        margin: 2% 0% 0% 5%;
    }
    .hire-me{
        margin-left: 37.5%;
    }

}
/*------------third section-----------*/
.third-section{
    color: #08e2ffec;
    background: #28282B;
    margin: 5% 20%;
    height: 95vh;
    box-shadow: 15px 15px 7px grey;
    border: 2px solid #08e2ffec;
    border-radius: 10px;
}
.third-section h2{
    padding: 5% 5% 0% 5%;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    text-decoration: underline;
}
.col-a{
    float: left;
    width: 45%;
    margin-left: 5%;
}
.col-b{
    float: left;
    width: 45%;
    margin-left: 5%;
}
.col-b::before{
    content: "";
    width: 1px;
    height: 70vh;
    background-color: #08e2ffec;
    float: left;
    margin-left: -10%;
    margin-top: 5%;

}
.container {
    width: 90%;
    background-color: rgb(231, 231, 231);
    border-radius: 20px;
    border: 1px solid black;
 }
.html-bar, .css-bar, .bootstrap-bar, .javascript-bar, 
.react-bar, .creo-bar, .cnc-bar, .leadership-bar, 
.team-bar, .adaptability-bar{
    text-align: center;
    font-weight: bolder;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
    border-radius: 20px
}
.html-bar{
    border: 1px solid #08e2ffec;
    width: 90%;
    background-color: #08e2ffec;
}
.css-bar{
    border: 1px solid #08e2ffec;
    width: 80%;
    background-color: #08e2ffec;
}
.javascript-bar{
    border: 1px solid #08e2ffec;
    width: 15%;
    background-color: #08e2ffec;
}
.bootstrap-bar{
    border: 1px solid #08e2ffec;
    width: 50%;
    background-color: #08e2ffec;
}
.react-bar{
    border: 1px solid #08e2ffec;
    width: 15%;
    background-color: #08e2ffec;
}
.creo-bar{
    border: 1px solid #08e2ffec;
    width: 90%;
    background-color: #08e2ffec;
}
.cnc-bar{
    border: 1px solid #08e2ffec;
    width: 75%;
    background-color: #08e2ffec;
}
.leadership-bar{
    border: 1px solid #08e2ffec;
    width: 99.99%;
    background-color: #08e2ffec;
}

.team-bar{
    border: 1px solid #08e2ffec;
    width: 99.99%;
    background-color: #08e2ffec;
} 
.adaptability-bar{
    border: 1px solid #08e2ffec;
    width: 99.99%;
    background-color: #08e2ffec;
}

.container:hover{
    transform : scale(1.1);
    color: crimson;
}
@media(max-width:1000px){
    .third-section{
        color: #08e2ffec;
        background: #28282B;
        margin: 5% 5%;
        height: 95vh;
        box-shadow: 15px 15px 7px grey;
        border: 2px solid #08e2ffec;
        border-radius: 10px;
    }
    .col-b::before{
        content: "";
        width: 1px;
        height: 70vh;
        background-color: #08e2ffec;
        margin-left: -10%; 
        margin-top: 5%;
    }
    .javascript-bar{
        border: 1px solid #08e2ffec;
        width: 25%;
        background-color: #08e2ffec;
    }
    .react-bar{
        border: 1px solid #08e2ffec;
        width: 25%;
        background-color: #08e2ffec;
    }
}

/*-----------section 4 project------------*/
.fourth-section{
    width: 100%;
}
.fourth-section h2{
    padding: 5%;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    text-decoration: underline;
    margin-bottom: 0%;
}
.cards{
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}
.services{
    
    display: flex;
    align-items: center;
}
.contnt{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: 20px;
    padding: 20px;
    background: linear-gradient(0deg, #ffffff00, #f8e5e5);
    border: 1.5px solid #faebeb;
    border-radius: 4px;
    transition: all .3s ease;
    box-shadow: 0px 10px 5px grey;
} 
.contnt > *{
    flex: 1 1 100%;
}
.contnt h3{
    font-size: 30px;
    margin: 16px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.contnt p{
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.contnt a{
    padding: 11px;
    margin: 22px 0;
    background: linear-gradient(0deg, #ffffff96, #f8e5e5);
    color: black;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 30px;
}
.contnt:hover{
    color: white;
    transform: scale(1.05);
    background: rgba(0, 0, 0, 0.74);
}
.contnt a:hover{
    background: linear-gradient(0deg, #fd2121, #ff0000);
    color: white;
}
.right-arr{
    font-size: 20px;
    margin-left: 10px;
}
 @media (max-width:850px) {
    .services{
        display: flex;
        flex-direction: column;
    }
    
}
/* --------------fifth section accolades-------------*/
.fifth-section{
    height: 185vh;
    margin: 5% 10%;
    background-color: aliceblue;
}
.fifth-section h2{
    padding: 5% 5% 0% 5%;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    text-decoration: underline;
}
.basketball{
    color: white;
    width: 100%;
    height: 55vh;
    background: url("../image/basketball-4559472_1920.jpg");
    text-align: center;
    text-decoration: none;
    background-attachment: fixed;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.basketball h2{
    color: #ee6730;
    padding: 5% 0% 1% 0%;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    text-decoration: underline;
    margin-bottom: 0%;
}
.sport p{
     font-size: 1rem;
}
.intern ul{
    margin: 1% 10% 1% 10%;
    font-family: 'Source Serif Pro', serif;
}
.intern h2{
    margin: 1% 10% 1% 10%;
    
}
.intern ul li{
    line-height: 2;
    text-align: justify;
    font-size: 24px;
    color: rgb(0, 12, 184);
}
@media (max-width:1300px){
    .fifth-section{
        height: 205vh;
        margin: 5% 3%;
    }
}
@media (max-width:750px){
    .fifth-section{
        height: 190vh;
        margin: 5% 3%;
    }
    .basketball{
        align-content: center;
        color: white;
        width: 100%;
        height: 65vh;
        background-attachment: fixed;
        background-size: cover;
    }
    
    .intern ul li{
        line-height: 1.4;
        text-align: justify;
        font-size: 20px;
        color: rgb(0, 7, 104);
    }
    .intern ul{
        margin: 1% 2% 1% 2%;
    }
    .intern h2{
        margin: 1% 10% 5% 10%;
        
    }
}
/*---------sixth section contact--------*/
.sixth-section{
    background: linear-gradient(180deg, #02d9ff, #b8e8ff );
    height: 120vh;
}
.sixth-section h2{
    color: #000000;
    padding: 5% 0% 1% 0%;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    text-decoration: underline;
    margin-bottom: 0%;
}
address{
    float: left;
    margin-left: 5%;
    margin-top: 5%;
}
address a{
    color: black;
}
.fa-envelope{
    display: block;
    color: #925f00;
}
.form-section{
    line-height: 2;
    margin-left: 50%;
    margin-top: 7%;
    margin-right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}
.form-container{
    padding: 20px;
    box-shadow: 0px 0px #00000010;
    background: white;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 60%;
}
.form-group input{
    width: 100%;
    padding: 3px;
    font-size: 16px;
    border: 1px solid rgba(128,128,128,0.199);
    margin-top: 5px;
}
.form-group textarea{
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid rgba(128,128,128,0.199);
    margin-top: 5px;
}
textarea{
    resize: vertical;
}
@media (max-width:1000px){
    .sixth-section{
        height: 150vh;
    }
    .form-section{
        line-height: 2;
        display: inline-block;
        align-items: center;
        justify-content: center;
        width: 400px;
        margin-left: 10%;
        margin-right: 0%;
    }
    .form-container{
        width: 90%;
        
    }
}
@media (max-width: 600px){
    iframe{
        display: none;
    }
    .form-container{
        width: 70%;
        
    }
    .sixth-section{
        height: 100vh;
    }
    .fifth-section{
        height: 190vh;
        margin: 5% 3%;
    }
    .fifth-section{
        height: 210vh;
        margin: 5% 3%;
    }
    .form-section{
        width: 300px;
        margin-left: 0%;
        margin-right: 0%;
        display: inline-block;
    }
    .form-container{
        width: 300px;
    }
}

/*---------------footer section------------------*/
.footr{
    text-align: center;
    background-color: rgb(1, 6, 78);
    margin: 0;
    height: 100px;
    color: rgb(255, 255, 255);
}
.icon-footr a{
    padding: 10px;
}
.icon-footr{
    margin: 0px 5px;
    font-size: 24px;
}
.fa-linkedin{
    color: #ffffff;
}
.fa-twitter{
    color: #ffffff;
}
.fa-instagram{
    color:  #ffffff;
}
.fa-facebook{
    color: #ffffff;
}
.icon-footr a:hover{
    transform: scale(1.2);
}
.fa-linkedin:hover{
    color: #0a66c2;
}
.fa-twitter:hover{
    color: #1da1f2;
}
.fa-instagram:hover{
    color:   #c32aa3;
}
.fa-facebook:hover{
    color: #3b5999;
}
/*------------end--------------*/

